@media (min-width: 1200px) {
    
}

@media (min-width: 725px) and (max-width: 1119px) {
    
}

@media (min-width: 600px) and (max-width: 724.9px) {
    .text--animate {
        max-width: 80%;
        --line-h: 50px;
        font-size: 1.5em;
    }
}

@media (min-width: 480px) and (max-width: 599.9px) {
    .text--animate {
        --line-h: 45px;
        font-size: 1.3em;
    }
}

@media (min-width: 386px) and (max-width: 479.9px) {
    .text--animate {
        --line-h: 43px;
        font-size: 1.1em;
    }
}
/*  */
@media (min-width: 280px) and (max-width: 385.9px) {
    .text--animate {
        /* max-width: 80%; */
        --line-h: 30px;
        font-size: 12px;
    }
    
    .container .box span{
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 30px;
        white-space: nowrap;
        text-transform: uppercase;
        padding: 0 10px;
        transform-style: preserve-3d;    
        text-shadow: 0 5px 15px rgba(151, 151, 151, 0.849);
        transform: translate(-50%, -50%)
            rotateX( calc(var(--i) * 22.5deg)) 
            translateZ(70px);

    }
}

@media (max-width: 279.9px) {
    .text--animate {
        --line-h: 25px;
        font-size: 8px;
    }
    
    .container .box span{
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 24px;
        white-space: nowrap;
        text-transform: uppercase;
        padding: 0 10px;
        transform-style: preserve-3d;    
        text-shadow: 0 5px 15px rgba(151, 151, 151, 0.849);
        transform: translate(-50%, -50%)
            rotateX( calc(var(--i) * 22.5deg)) 
            translateZ(50px);

    }
}
